a.no-under {
    text-decoration: none;
}

.icon-l {
    padding-left: 7rem !important
}

.icon-r {
    padding-right: 7rem !important
}

div.strong-shadow {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15)
}