

/* got rid of underlines on */
a.no-under {
    text-decoration: none;
}
/* centered images on card panel */
.icon-l {
    padding-left: 7rem !important
}

.icon-r {
    padding-right: 7rem !important
}
/* enhanced shadow on card */
div.strong-shadow {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15)
}
/* made text smaller and increased line height, copied from Pandas documentatioin */

/* this can and should change with diff themes */
body { padding-top: 80px; } 

.stickme {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

p {
    margin-bottom: 1.15rem;
    font-size: 1em;
    line-height: 1.5;}

nav.navbar-main {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin-right: auto;    
    margin-left: auto;    
    width: 100%;
    /* same height as the py-data theme */
    height: 60px;
    z-index: 1000;
    vertical-align: middle;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

nav.short {
    height: 60px;
}


img.navbar-brand-logo {
    margin-left: 90px;
}

a.logo-title {
    align-items: center;
       /* position: relative; */
}

div.navbar-center {
    position: relative;
    left: 90px;
}

li.nav-item {
    margin: 10px;
}

a.nav-link {
    text-decoration: none;
    color: black;
}

div.right-icon {
    padding-right: 210px;
}

div.navbar-right-item {
    position: relative;
    /* left: 500px; */
    display: inline;
    vertical-align: middle;
    align-items: center;
}

img.icon-middle{
    vertical-align: middle;
    align-items: center;
}


a.icon-link {
    vertical-align: middle;
    align-items: center;
}

i.icon-img {
    vertical-align: middle;
    padding-bottom: 5px;
}

nav * {
    display: inline
}

@media screen and (max-width: 1400px) {
    .navbegone{
        display: none;
        visibility: hidden;
    }
}

.inline-toggle {
    display: inline;
    vertical-align: middle;
    align-items: center;
}

/* .card * {
    background-color: ;
} */

/* @media (min-width:960px) {
    .navbar-expand-lg {
        flex-flow: row nowrap;
        justify-content: flex-start
    }
}


.navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: auto
} */