/* got rid of underlines on */
a.no-under {
    text-decoration: none;
}
/* centered images on card panel */
.icon-l {
    padding-left: 7rem !important
}

.icon-r {
    padding-right: 7rem !important
}
/* enhanced shadow on card */
div.strong-shadow {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15)
}
/* made text smaller and increased line height, copied from Pandas documentatioin */

body { padding-top: 70px; } 

p {
    margin-bottom: 1.15rem;
    font-size: 1em;
    line-height: 1.5;}

nav.navbar-main {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin-right: auto;    
    margin-left: auto;    
    width: 100%;
    /* max-width: 100%;    
    min-width: 1000px */
    height: 70px;
    z-index: 1000;
    vertical-align: middle;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}



img.navbar-brand-logo {
    height: 60px;
    margin-left: 80px;
    display: block;
}

a.logo-title {
    color: black;
    text-decoration: none;
    font-size: 20px;
    /* margin-left: auto; */
    /* vertical-align: middle; */
    align-items: center;
    display: flex;
    position: relative;
}

div.navbar-center-item {
    position: relative;
    left: 80px;
}

li.nav-item {
    margin: 10px;
}

a.nav-link {
    text-decoration: none;
    color: black;
}

div.navbar-end-item {
    position: relative;
    left: 500px;
    display: inline;
    /* display: inline; */
}

nav * {
    display: inline
}

.card * {
    background-color: ;
}